---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-2xl font-semibold mt-10 text-center">Welcome to your Dashboard 🎉</h1>
  <p class="text-center mt-4">
    You are logged in.
  </p>
</Layout>
